.kangnam .menu .call i {
    background: url(../images/call_icon.png) 0 0 no-repeat;
    background-size: 100%;
    width: 22px;
    height: 22px;
    display: block;
    margin: 10px;
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}